<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netx.ucenter.mapper.user.UserLoginHistoryMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.netx.ucenter.model.user.UserLoginHistory">
		<id column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="login_at" property="loginAt" />
		<result column="lon" property="lon" />
		<result column="lat" property="lat" />
		<result column="create_time" property="createTime" />
		<result column="create_user_id" property="createUserId" />
		<result column="update_time" property="updateTime" />
		<result column="update_user_id" property="updateUserId" />
		<result column="deleted" property="deleted" />
	</resultMap>
	<select id="selectUserNewLoginList" resultMap="BaseResultMap">
		select *
		from user_login_history history
		inner join (
			select user_id, max(login_at) as login_at
			from user_login_history
			where deleted= '0' and user_id
			IN <foreach item="item" index="index" collection="collection" open="(" separator="," close=")"> #{item}</foreach>
				group by user_id
		) newHistory on history.user_id = newHistory.user_id and history.login_at = newHistory.login_at
		where deleted= '0'
		order by history.login_at desc
	</select>

		<select id="selectUserNewLogin" resultMap="BaseResultMap">
			select history.*
			from user_login_history history
			where deleted= '0' and user_id = #{userId}
			order by history.login_at desc
			limit 1
		</select>
</mapper>
