<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netx.worth.mapper.SkillMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.netx.worth.model.Skill">
		<id column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="skill" property="skill" />
		<result column="level" property="level" />
		<result column="description" property="description" />
		<result column="skill_images_url" property="skillImagesUrl" />
		<result column="skill_detail_images_url" property="skillDetailImagesUrl" />
		<result column="unit" property="unit" />
		<result column="amount" property="amount" />
		<result column="intr" property="intr" />
		<result column="obj" property="obj" />
		<result column="lon" property="lon" />
		<result column="lat" property="lat" />
		<result column="register_count" property="registerCount" />
		<result column="success_count" property="successCount" />
		<result column="status" property="status" />
		<result column="create_time" property="createTime" />
		<result column="create_user_id" property="createUserId" />
		<result column="update_time" property="updateTime" />
		<result column="update_user_id" property="updateUserId" />
		<result column="deleted" property="deleted" />
	</resultMap>

</mapper>
