<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netx.worth.mapper.MatchRequirementMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.netx.worth.model.MatchRequirement">
		<id column="id" property="id" />
		<result column="group_id" property="groupId" />
		<result column="requirement_name" property="requirementName" />
		<result column="is_requirement_data" property="isRequirementData" />
		<result column="requirement_designation" property="requirementDesignation" />
		<result column="requirement_upper_limit" property="requirementUpperLimit" />
		<result column="requirement_lower_limit" property="requirementLowerLimit" />
		<result column="sort" property="sort" />
	</resultMap>

</mapper>
