<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netx.worth.mapper.MatchGroupAndZoneMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.netx.worth.model.MatchGroupAndZone">
		<id column="id" property="id" />
		<result column="match_zone_id" property="matchZoneId" />
		<result column="match_group_id" property="matchGroupId" />
		<result column="start_time" property="startTime" />
		<result column="end_time" property="endTime" />
		<result column="is_default" property="isDefault" />
		<result column="is_zone_time" property="isZoneTime" />
	</resultMap>
	<select id="getAllMacthGroupAndZoneByMatchId" parameterType="String" resultType="com.netx.worth.vo.MatchGroupAndZoneVo">
		SELECT
		DISTINCT
		a.matchZoneId,
		SUBSTRING_INDEX(
		SUBSTRING_INDEX(
		a.group_ids,
		',',
		b.help_topic_id + 1
		),
		',' ,- 1
		) matchGroupId
		FROM
		(
		SELECT
		id,
		zone_id matchZoneId,
		group_ids
		FROM
		match_venue
		WHERE
		zone_id IN (
		SELECT
		id zoneId
		FROM
		match_zone
		WHERE
		match_id = #{match_id}
		)
		) a
		LEFT JOIN mysql.help_topic b ON b.help_topic_id  &lt; (
		LENGTH(a.group_ids) - LENGTH(
		REPLACE (a.group_ids, ',', '')
		) + 1
		)
		ORDER BY
		a.matchZoneId;
	</select>

	<select id="getApplyInfoByZoneId" resultType="com.netx.worth.vo.MatchApplyInfoVo" parameterType="String">
		SELECT
			a.match_group_name matchGroupName,
			b.startTime,
			b.endTime,
			b.isDefault,
			b.isZoneTime
		FROM
			match_group a
		INNER JOIN (
			SELECT
				match_group_id matchGroupId,
				start_time startTime,
				end_time endTime,
				is_default isDefault,
				is_zone_time isZoneTime
			FROM
				match_group_and_zone
			WHERE
				match_zone_id = #{zoneId} AND is_zone_time=0
		) b ON a.id = b.matchGroupId
	</select>

	<select id="getMatchGroupByZoneId" resultType="com.netx.worth.vo.MatchGroupAndTimeVo" parameterType="String">
		SELECT
			a.match_group_name matchGroupName,
			a.free matchGroupFree,
			a.quota matchGroupQuota,
			a.id groupId,
			b.end_time endTime,
			b.start_time startTime,
			b.is_zone_time isZoneTime,
			b.is_default isDefault,
			b.id id
		FROM
			match_group a
		RIGHT JOIN (
			SELECT DISTINCT
				id,
				match_group_id,
				start_time,
				end_time,
				is_zone_time,
				is_default
			FROM
				match_group_and_zone
			WHERE
				match_zone_id = #{zone_id}
		) b ON a.id = b.match_group_id
	</select>
	<select id="getEndApplyTimeByMatchId" resultType="Date" parameterType="String">
		SELECT
			max(end_time) endTime
		FROM
			match_group_and_zone a
		INNER JOIN (SELECT id FROM match_zone where match_id=#{match_id}) b ON a.match_zone_id = b.id  WHERE a.is_zone_time=0
	</select>
</mapper>
