<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netx.worth.mapper.MatchChildInfoMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.netx.worth.model.MatchChildInfo">
		<id column="id" property="id" />
		<result column="participant_id" property="participantId" />
		<result column="name" property="name" />
		<result column="head_image" property="headImage" />
		<result column="age" property="age" />
		<result column="sex" property="sex" />
		<result column="introduction" property="introduction" />
		<result column="images_url" property="imagesUrl" />
		<result column="other_requirement" property="otherRequirement" />
	</resultMap>

</mapper>
