<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netx.worth.mapper.DemandOrderMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.netx.worth.model.DemandOrder">
		<id column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="demand_id" property="demandId" />
		<result column="start_at" property="startAt" />
		<result column="end_at" property="endAt" />
		<result column="unit" property="unit" />
		<result column="address" property="address" />
		<result column="lon" property="lon" />
		<result column="lat" property="lat" />
		<result column="order_ids" property="orderIds" />
		<result column="order_price" property="orderPrice" />
		<result column="wage" property="wage" />
		<result column="is_each_wage" property="isEachWage" />
		<result column="bail" property="bail" />
		<result column="status" property="status" />
		<result column="validation_status" property="validationStatus" />
		<result column="is_pay" property="isPay" />
		<result column="is_confirm_pay" property="isConfirmPay" />
		<result column="confirm_pay_user_id" property="confirmPayUserId" />
		<result column="create_time" property="createTime" />
		<result column="create_user_id" property="createUserId" />
		<result column="update_time" property="updateTime" />
		<result column="update_user_id" property="updateUserId" />
		<result column="deleted" property="deleted" />
	</resultMap>

</mapper>
