<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netx.shopping.mapper.cartcenter.CartItemMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.netx.shopping.model.cartcenter.CartItem">
		<id column="id" property="id" />
		<result column="cart_id" property="cartId" />
		<result column="product_id" property="productId" />
		<result column="quantity" property="quantity" />
		<result column="sku_id" property="skuId" />
		<result column="unit_price" property="unitPrice" />
		<result column="status" property="status" />
		<result column="delivery_way" property="deliveryWay" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="deleted" property="deleted" />
	</resultMap>

</mapper>
